	<div class="navbar">
  <div class="container">
  	<div class="row">
    	<div class="col-sm-4 col-md-4 col-lg-4"></div>
    	<div class="col-sm-4 col-md-4 col-lg-4 nav-center">
		    <ul class="nav-text">
		      <li><a href="#/image">HOME</a></li>
		      <!-- <li><a href="#/info">FAVORITES</a></li> -->
		      <li><a href="#/results">RESULTS</a></li>
		      <li><a href="#/logout">LOGOUT</a></li>
		      <!-- <li><a href="#/user">HOME</a></li> -->
		      <!-- <li><a href="#/image">CHECK</a></li> -->
		    </ul>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	</div>
  </div>
</div>
