<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-sm-5 col-md-4 col-sm-offset-4 col-lg-4">
            <h1 class="login">Welcome, {{image.userObject.userName}}!</h1>  
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-5 col-md-4 col-sm-offset-4 col-lg-4">
            <h3>Select your diet(s):</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-5 col-md-4 col-sm-offset-4 col-lg-4">
            <table class="table borderless">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="veganChoice">
                              <label class="form-check-label" for="veganChoice">
                                Vegan
                              </label>
                            </div>
                        </td>
                        <td ng-disabled="true">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="whole30Choice" ng-disabled="true">
                              <label class="form-check-label" for="whole30Choice">
                                Whole 30
                              </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td ng-disabled="true">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="vegeterianChoice" ng-disabled="true">
                              <label class="form-check-label" for="vegeterianChoice">
                                Vegetarian
                              </label>
                            </div>
                        </td>
                        <td ng-disabled="true">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="paleoChoice" ng-disabled="true">
                              <label class="form-check-label" for="paleoChoice">
                                Paleo
                              </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td ng-disabled="true">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="ketoChoice" ng-disabled="true">
                              <label class="form-check-label" for="ketoChoice">
                                Keto
                              </label>
                            </div>
                        </td>
                        <td ng-disabled="true">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="glutenChoice" ng-disabled="true">
                              <label class="form-check-label" for="glutenChoice">
                                Gluten-free
                              </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div ng-if="loadPic == true" id="myProgress">
              <div id="myBar"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-4 col-sm-offset-4 col-lg-4">
            <form name="form" ng-submit="image.uploadFile()">
                    <input ngf-select ng-model="image.file"  name="file" id="file" placeholder="Choose File" class="btn btn-default btn-block" accept="image/*" capture="camera"/>
                <button ng-disabled="image.file == null" class="btn btn-green btn-block" type="submit" ng-click="loadPic=true">Upload</button>
            </form>
        </div>
    </div>


    <div class="row text-center" ng-if="image.file != null">
        <div class="col-sm-5 col-md-4 col-sm-offset-4 col-lg-4">
            <img height="60%" width="60%" ngf-thumbnail="image.file" />
        <div class="imagePreview col-sm-5 col-md-4 col-sm-offset-4 col-lg-4">
            <img height="80%" width="80%" ngf-thumbnail="image.file" />
        </div>
    </div>
</div>



