<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div ng-if="loadPic == true" id="myProgress">
          <div id="myBar"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-md-4 col-sm-offset-4 col-lg-3">
        <form name="form" ng-submit="image.uploadFile()">
                <input ngf-select ng-model="image.file"  name="file" id="file" placeholder="Choose File" class="btn btn-default btn-block" accept="image/*" capture="camera"/>
            <button ng-disabled="image.file == null" class="btn btn-green btn-block" type="submit" ng-click="loadPic=true">Upload</button>
        </form>
    </div>
</div>


<div class="row text-center" ng-if="image.file != null">
    <div class="col-sm-5 col-md-4 col-sm-offset-4 col-lg-3">
        <h5 class="login">Image Preview:</h5>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-5 col-md-4 col-sm-offset-4 col-lg-3">
        <img height="60%" width="60%" ngf-thumbnail="image.file" />
    </div>
</div>
</div>



