<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
  <h1 class="login">REGISTER USER</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h1>
  <form ng-submit="lc.registerUser()">
    <div class="form-group">
        <input type="text" placeholder="Username" ng-model="lc.user.username" class="form-control form" />
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" ng-model="lc.user.password" class="form-control form" />
    </div>
    <div class="form-group">
       <button class="btn btn-green btn-block" type="submit" name="submit" value="Register">REGISTER</button>
    </div>
    <!-- <input class="btn btn-default" type="submit" name="submit" value="Register" /> -->
    <a href="#home">Cancel</a>
  </form>
</div>
</div>

</div>